.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 300px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(106, 106, 106, 0.8);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}

.login-form input {
  margin-bottom: 5px;
  padding: 10px;
  border: 0.5px solid #f0c000;
  border-radius: 6px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.login-form input::placeholder {
  color: rgba(227, 227, 227, 0.6);
}

.login-form button {
  border: 2px solid #f0c000;
  background-color: transparent;
  color: #f0c000;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-top: 30px;
}

.login-form button:hover {
  background-color: #f0c000;
  color: black;
  transform: scale(1.05);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-error {
  box-shadow: 0 0 5px 1px red;
  border: 1px solid red !important;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.login-form .auth-link {
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
}

.register-link {
  color: #ffcc00; 
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.register-link:hover {
  text-decoration: underline;
  color: #f0c000;  
}