.welcome-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Pantalla completa */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* ajusta el tamaño del degradado */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  pointer-events: none; /* evita bloquear los clics */
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay h1 {
  color: rgb(255, 179, 0);
  font-size: 5rem;
  margin-bottom: 2px !important;
}

.overlay h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-bottom: 0px !important;
  font-weight: 400 !important;
}

.overlay p {
  color: rgb(210, 210, 210);
  font-size: 1.25rem;
  font-weight: 400 !important;
}

.overlay button {
  background-color: rgba(0, 0, 0, 0.234);
  color: #f0c000; /* el color del texto combina con el borde */
  border: 2px solid #f0c000; /* grosor de 2px y color dorado */
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  margin-right: 10px;
}

.overlay button:hover {
  background-color: #f0c000;
  transform: scale(1.05);
  color: rgb(0, 0, 0);
}

.rest {
  text-align: center;
  padding: 2rem 1rem;
  color: #fff;
}

.rest > p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.pilares {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem; /* espacio entre los rectángulos */
  flex-wrap: wrap; /* para que se adapten en pantallas pequeñas */
}

.pilar {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.082);
  border-radius: 12px;
  padding: 1.5rem;
  width: 280px;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.pilar:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.2);
}

.pilar p {
  font-size: 0.95rem;
  line-height: 1.4;
}
